
	
h1{
	position: relative;
	style: center;
	top: 5px;
	left: 5px;
	text-shadow: 3px 5px 10px #CCC;
}	

img1{
	position: absolute;
	border: 2px solid #80aab7;
	top: 100px;
	left: 100px;
}	

img2{
	border: 2px solid #80aab7;
	position: absolute;
	top: 5px;
	left: 5px;
}	


img3{
	border: 2px solid #80aab7;
	position: absolute;
	top: 10px;
	left: 10px;
}	

img4{
	border: 2px solid #80aab7;
	position: absolute;
	top: 20px;
	left: 40px;
	}	

img5{
	border: 2px solid #80aab7;
	position: absolute;
	top: 20px;
	left: 100px;
}	


img6{
	border: 2px solid #80aab7;
	position: absolute;
	top: 5px;
	left: 5px;
}	

img7{
	border: 2px solid #80aab7;
	position: absolute;
	top: 10px;
	left: 20px;
}	

img8{
	border: 2px solid #80aab7;
	position: absolute;
	top: 5px;
	left: 30px;
}	


img9{
	border: 2px solid #80aab7;
	position: absolute;
	top: 5px;
	left: 5px;
	box-shadow: 5px 5px 5px;
}	

img10{
	border: 2px solid #80aab7;
	position: absolute;
	top: 10px;
	left: 20px;
}	

img11{
	border: 2px solid #80aab7;
	position: relative;
	top: 10px;
	left: 5px;
}	


img12{
	border: 2px solid #80aab7;
	position: relative;
	top: 5px;
	left: 5px;
}	

img13{
	border: 2px solid #80aab7;
	position: relative;
	top: 10px;
	left: 200px;
}	

img14{
	border: 2px solid #80aab7;
	position: relative;
	top: 5px;
	left: 5px;
}	


img15{
	border: 2px solid #80aab7;
	position: relative;
	top: 5px;
	left: 5px;
	box-shadow: 5px 5px 5px; rgba(128, 170, 183, .5);
}	

img16{
	border: 2px solid #80aab7;
	position: absolute;
	top: 100px;
	left: 20px;
	
}	

img17{
	border: 2px solid #80aab7;
	position: relative;
	top: 5px;
	left: 5px;
}	


img18{
	border: 2px solid #80aab7;
	position: relative;
	top: 10px;
	left: 10px;
	box-shadow: 5px 5px 5px; rgba(128, 170, 183, .5);
}	

img19{
	border: 2px solid #80aab7;
	position: relative;
	top: 150px;
	left: 20px;
}	

img20{
	border: 2px solid #80aab7;
	position: relative;
	top: 20px;
	left: 30px;
}	



	